@import "tailwindcss";

@theme {
  --font: "Poppins", sans-serif;

  --bg-image: url("/assets/bg-image.jpg");

  --breakpoint-xs: 480px;
}

body {
  font-family: var(--font);
  background-image: url(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  background-image: linear-gradient(
    180deg,
    rgba(26, 23, 41, 0.9) 0%,
    rgba(143, 141, 153, 0.9) 35%,
    rgba(81, 73, 88, 0.9) 100%
  ), var(--bg-image);
}
